.circle{
    border-radius: 50%;  
}

.UserInfo{
    display: flex;
    flex-direction: column;
    margin-top: 55px;
    align-items: center;

}

.Text{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 200px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;
}