.globalWidgets-Container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /*width: 1600px;
    height: 500px;*/
    padding-left: 800px;
}

/*   ----------   WIDGET 1  -------------*/
.widget1-container{
    width: 1000px;
    height: 400px;
    
    background: #4ACB9C;
    border-radius: 15px;
}

.widget1-banner{
    width: 1000px;
    height: 50px;

    background: linear-gradient(180deg, #314231 0%, rgba(16, 80, 16, 0.95) 100%);
    border-radius: 15px 15px 0px 0px;
}

.widget1-title {
	color:white;
}

/*   ----------   WIDGET 2  -------------*/

.widget2-container{
    width: 500px;
    height: 400px;

    background: #4ACB9C;
    border-radius: 15px;
}

.widget2-banner{
    width: 500px;
    height: 50px;

    background: linear-gradient(180deg, #314231 0%, rgba(16, 80, 16, 0.95) 100%);
    border-radius: 15px 15px 0px 0px;
}

.widget2-title {
    color:white;
}